@{
    Layout = "~/Views/Shared/_Index.cshtml";
}


<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>PENDING APPROVAL </h5>
                </div>
                <div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#developers" aria-expanded="true"> DEVELOPERS</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#pmb" aria-expanded="false">PMB</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#cooperative" aria-expanded="false">COOPERATIVE</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div id="developers" class="tab-pane active">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">
                                            <div id="searchdevelopersDiv" class="col-sm-12 search-collapse">
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            Name: <input id="name" col="Name" type="text" />
                                                        </li>
                                                        <li>
                                                            Status: <span id="developersStatus" col="Status"></span>
                                                        </li>
                                                        <li class="select-time">
                                                            <label>Created: </label>
                                                            <input id="developersStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                            <span>-</span>
                                                            <input id="developersEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                        </li>
                                                        <li>
                                                            <a id="btnDevelopersSearch" class="btn btn-primary btn-sm" onclick="searchDevelopersGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                              <div class="btn-group-sm" id="developers">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)" style="background-color: #2e2d67; border-color: #2e2d67"> Approve Developers</a>
                                                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)" style="background-color: #e43f3f; border-color: #e43f3f;"> Disapprove Developers</a>
                                                @*  <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> Edit</a>
                                                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> Delete</a>*@
                                            </div>
                                            <div class="col-sm-12">
                                                <table id="gridDevelopersTable" data-mobile-responsive="true"></table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="pmb" class="tab-pane">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">
                                            <div id="searchPmbDiv" class="col-sm-12 search-collapse">
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            Name: <input id="name" col="Name" type="text" />
                                                        </li>
                                                        <li>
                                                            Status: <span id="pmbStatus" col="Status"></span>
                                                        </li>
                                                        <li class="select-time">
                                                            <label>Created: </label>
                                                            <input id="pmbStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                            <span>-</span>
                                                            <input id="pmbEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                        </li>
                                                        <li>
                                                            <a id="btnPmbSearch" class="btn btn-primary btn-sm" onclick="searchPmbGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btn-group-sm" id="pmb">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)" style="background-color: #2e2d67; border-color: #2e2d67"> Approve PMB</a>
                                                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)" style="background-color: #e43f3f; border-color: #e43f3f;"> Disapprove PMB</a>
                                                @*  <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> Edit</a>
                                                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> Delete</a>*@
                                            </div>
                                            @* <div class="col-sm-12 select-table table-striped">*@
                                            <div class="col-sm-12">
                                                <table id="gridPmbTable" data-mobile-responsive="true"></table>
                                            </div>

                                            @*form for each of the row from the table*@
                                            <div class="container" style="justify-content: center; align-items: center;">
                                                <div class="row">
                                                    <div class="col-sm-6 col-sm-offset-3">
                                                        <form id="myForm" style="display:none">
                                                            <h4 style="text-align:center;">NHF Registration for </h4>
                                                            <div class="form-group">
                                                                <div class="col-sm-6">
                                                                    <label for="dateOfIncorporation">Effective Date:</label>
                                                                    <input type="datetime" class="form-control" id="dateOfIncorporation" name="dateOfIncorporation" readonly>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label for="email">Email Address:</label>
                                                                    <input type="email" class="form-control" id="email" name="email" readonly>
                                                                </div>
                                                            </div>

                                                            <div class="form-group" style="margin-top: 90px;">
                                                                <div class="col-sm-6">
                                                                    <label for="PhoneNo">Phone:</label>
                                                                    <input type="number" class="form-control" id="phoneNo" name="phoneNo" readonly>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <label for="remark">Remark:</label>
                                                                    <textarea type="text" class="form-control" id="remark" name="remark" style="height: 60px;"></textarea>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="cooperative" class="tab-pane">
                                <div class="panel-body">
                                    <div class="container-div">
                                        <div class="row">
                                            <div id="searchCooperativeDiv" class="col-sm-12 search-collapse">
                                                <div class="select-list">
                                                    <ul>
                                                        <li>
                                                            Name: <input id="name" col="Name" type="text" />
                                                        </li>
                                                        <li>
                                                            Status: <span id="cooperativeStatus" col="Status"></span>
                                                        </li>
                                                        <li class="select-time">
                                                            <label>Created: </label>
                                                            <input id="cooperativeStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                            <span>-</span>
                                                            <input id="cooperativeEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                        </li>
                                                        <li>
                                                            <a id="btnCooperativeSearch" class="btn btn-primary btn-sm" onclick="searchCooperativeGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="btn-group-sm" id="cooperative">
                                                <a id="btnAdd" class="btn btn-success" onclick="showSaveForm(true)" style="background-color: #2e2d67; border-color: #2e2d67"> Approve Cooperative</a>
                                                <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)" style="background-color: #e43f3f; border-color: #e43f3f;"> Disapprove Cooperative</a>
                                                @*  <a id="btnEdit" class="btn btn-primary disabled" onclick="showSaveForm(false)"><i class="fa fa-edit"></i> Edit</a>
                                                <a id="btnDelete" class="btn btn-danger disabled" onclick="deleteForm()"><i class="fa fa-remove"></i> Delete</a>*@
                                            </div>
                                            @* <div class="col-sm-12 select-table table-striped">*@
                                            <div class="col-sm-12">
                                                <table id="gridCooperativeTable" data-mobile-responsive="true"></table>
                                            </div>
                                        </div>
                                    </div>
                                    <script type="text/javascript">
                                        $(function () {
                                            initGrid();

                                            $("#developersStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
                                            $("#pmbStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });
                                            $("#cooperativeStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });


                                            laydate.render({ elem: '#developersStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                            laydate.render({ elem: '#developersEndTime', format: 'yyyy-MM-dd', theme: 'molv' });

                                            laydate.render({ elem: '#pmbStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                            laydate.render({ elem: '#pmbEndTime', format: 'yyyy-MM-dd', theme: 'molv' });

                                            laydate.render({ elem: '#cooperativeStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                            laydate.render({ elem: '#cooperativeEndTime', format: 'yyyy-MM-dd', theme: 'molv' });
                                        });

                                        function initGrid() {
                                            var queryDevelopersUrl = '@Url.Content("~/ApproveAgents/GetDevelopersPageListJson")';
                                            var queryPmbUrl = '@Url.Content("~/ApproveAgents/GetPmbPageListJson")';
                                            var queryCooperativeUrl = '@Url.Content("~/ApproveAgents/GetCooperativePageListJson")';

                                            $('#gridDevelopersTable').cnTable({
                                                url: queryDevelopersUrl,
                                                columns: [
                                                    { checkbox: true, visible: true },
                                                    { field: 'Id', title: 'Id', visible: false },
                                                    { field: 'Company', title: 'Company', sortable: true },
                                                    { field: 'CompanyNumber', title: 'Company Number', sortable: true },
                                                    { field: 'Email', title: 'Email Address', sortable: true },
                                                    { field: 'DateOfIncorporation', title: 'Date Of Incorporation', sortable: true },
                                                    { field: 'Status', title: 'Status', visible: true, sortable: true }
                                                ],
                                                queryParams: function (params) {
                                                    var pagination = $('#gridDevelopersTable').cnTable('getPagination', params);
                                                    var queryString = $("#searchDevelopersDiv").getWebControls(pagination);
                                                    return queryString;
                                                }
                                            });



                                            var formOpen = false; // flag to track if form is currently open

                                            $('#gridPmbTable').cnTable({
                                                url: queryPmbUrl,
                                                columns: [
                                                    {
                                                        field: 'plus',
                                                        title: '',
                                                        formatter: function (value, row) {
                                                            var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                                                            return '<button type="button" class="btn btn-sm btn-primary plus-button" data-row-id="' + row.Id + '"><i class="' + iconClass + '"></i></button>';
                                                        },
                                                        events: {
                                                            'click .plus-button': function (e, value, row, index) {
                                                                // toggle the form on/off
                                                                if (formOpen) {
                                                                    $('#myForm').slideUp();
                                                                    $(this).removeClass('btn-danger').addClass('btn-primary'); // Change button background to btn-primary
                                                                } else {
                                                                    var form = $('#myForm');
                                                                    form.find('input[name="company"]').val(row.Company);
                                                                    form.find('input[name="companyNumber"]').val(row.CompanyNumber);
                                                                    form.find('input[name="email"]').val(row.Email);
                                                                    form.find('input[name="phoneNo"]').val(row.PhoneNo);
                                                                    form.find('input[name="dateOfIncorporation"]').val(row.DateOfIncorporation);
                                                                    form.find('input[name="status"]').val(row.Status);
                                                                    form.slideDown();
                                                                    $(this).removeClass('btn-primary').addClass('btn-danger'); // Change button background to btn-danger
                                                                }
                                                                formOpen = !formOpen; // update flag

                                                                // update the plus button icon
                                                                var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                                                                $(this).html('<i class="' + iconClass + '"></i>');
                                                            }
                                                        }
                                                    },
                                                    { checkbox: true, visible: true },
                                                    { field: 'Id', title: 'Id', visible: false },
                                                    { field: 'Company', title: 'Company', sortable: true },
                                                    { field: 'CompanyNumber', title: 'Company Number', sortable: true },
                                                    { field: 'Email', title: 'Email Address', sortable: true },
                                                    { field: 'PhoneNo', title: 'Phone No', visible: false, sortable: true },
                                                    { field: 'DateOfIncorporation', title: 'Date Of Incorporation', sortable: true },
                                                    { field: 'Status', title: 'Status', visible: true, sortable: true }
                                                ],
                                                queryParams: function (params) {
                                                    var pagination = $('#gridPmbTable').cnTable('getPagination', params);
                                                    var queryString = $("#searchPmbDiv").getWebControls(pagination);
                                                    return queryString;
                                                }
                                            });


                                            $('#gridCooperativeTable').cnTable({
                                                url: queryCooperativeUrl,
                                                columns: [
                                                    { checkbox: true, visible: true },
                                                    { field: 'Id', title: 'Id', visible: false },
                                                    { field: 'Company', title: 'Company', sortable: true },
                                                    { field: 'CompanyNumber', title: 'Company Number', sortable: true },
                                                    { field: 'Email', title: 'Email Address', sortable: true },
                                                    { field: 'PhoneNo', title: 'Phone No', visible: false, sortable: true },
                                                    { field: 'DateOfIncorporation', title: 'Date Of Incorporation', sortable: true },
                                                    { field: 'Status', title: 'Status', visible: true, sortable: true }
                                                ],
                                                queryParams: function (params) {
                                                    var pagination = $('#gridCooperativeTable').cnTable('getPagination', params);
                                                    var queryString = $("#searchCooperativeDiv").getWebControls(pagination);
                                                    return queryString;
                                                }
                                            });

                                        }

                                        function searchGrid() {
                                            $('#gridDevelopersTable').cnTable('search');
                                            resetToolbarStatus();
                                        }

                                        function searchGrid() {
                                            $('#gridPmbTable').cnTable('search');
                                            resetToolbarStatus();
                                        }

                                        function searchGrid() {
                                            $('#gridCooperativeTable').cnTable('search');
                                            resetToolbarStatus();
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



