@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="ibox-title">
    <h5>NMRC UnderWriting</h5>
</div>

<div class="container-div">
    <div class="row">



        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    $(function () {
        initGrid();

        $("#status").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd', theme: 'molv' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd', theme: 'molv' });
    });

    function initGrid() {
        debugger
        var queryUrl = '@Url.Content("~/NmrcActivity/GetLoanForReview")';
        $('#gridTable').cnTable({
            url: queryUrl,
            detailView: true,
            sortName: 'BaseModifyTime',
            sortOrder: "Desc",
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'PmbName', title: 'Primary Mortgage Bank', sortable: false },
                { field: 'RefinanceNumber', title: 'Loan Batch No', sortable: false },

                { field: 'TotalAmount', title: 'Total Amount', sortable: false },

                {
                    field: 'BaseModifyTime', title: 'Application Date', formatter: function (value, row, index) {
                        return cn.formatDate(value, "yyyy-MM-dd");
                    }
                },


                {
                    title: 'Actions',
                    align: 'center',
                    formatter: function (value, row, index) {
                        debugger;
                        var actions = [];
                        var buttonName = 'Show CheckList';

                        actions.push('<a class="btn btn-info btn-xs" href="#" onclick="ShowSaveForm(\'' + row.PmbId + '\')" ' + '><i class="fa-solid fa-house"></i>' + buttonName + '</a>');

                        actions.push('&nbsp;');


                        var button = 'Approve';

                        actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="Approve(\'' + row.Id + '\')"><i class="fa-solid fa-house"></i>Approve</a>');

                        actions.push('&nbsp;');


                        actions.push('<a class="btn btn-warning btn-xs" href="#" onclick="Reject(\'' + row.Id + '\')"><i class="fa fa-key"></i>Reject</a>');

                        return actions.join('');
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').cnTable('getPagination', params);
                var queryString = $("#searchDiv").getWebControls(pagination);
                return queryString;
            }
            //,
            //onExpandRow: function (index, row, $detail) {
            //    initChildGrid(index, row, $detail);
            //}
        });
    }

    function searchGrid() {
        $('#gridTable').cnTable('search');
        resetToolbarStatus();
    }



    function openCustomDialog(options) {
        layer.open({
            type: 2,
            title: options.title,
            content: options.content,
            area: [options.width, '90%'],
            btn: [], // Remove the default confirm and close buttons
            success: function (layero, index) {
                options.callback(index, layero);
            }
        });
    }



    function ShowSaveForm(id) {
        openCustomDialog({
            title: "CheckList Details",
            content: '@Url.Content("~/NmrcActivity/GetPMBChecklists")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }


    function approveUnderwriting(id) {
        debugger
        cn.confirm("Confirm the approval process？", function () {
            debugger;
            cn.ajax({
                url: '@Url.Content("~/Underwriting/ApproveUnderwriting")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }

    function DisapproveUnderwriting(id) {
        debugger
        if (id === 0) {
            cn.msgError("Please select an item");
            return;
        }
        var remark = $("#remark").val();

        cn.confirm("Confirm the Disapproval process？", function () {
            cn.ajax({
                url: '@Url.Content("~/Underwriting/DisapproveUnderwriting")' + '?id=' + id + '&remark=' + remark,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    } else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }


    function initChildGrid(index, row, $detail) {
        $detail.html('Loading data ...');

        $.ajax({
            url: '/Refinancing/GetListById',
            type: 'GET',
            data: { id: row.Id },
            success: function (response) {
                if (response.success == true) {
                    var data = response.data;

                    var dateOfEmployment = new Date(data.DateofEmployment);
                    var formattedDateOfEmployment = dateOfEmployment.toLocaleDateString();

                    // Create the HTML for the table
                    var htmlData = `
                                <div class="card">
                                    <div class="card-header text-center">
                                        <h6 class="card-title" style="font-weight: bold; color: black; font-size: 15px;">
                                            Underwriting Process for ${data.Name}
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-bordered">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Customer Name</th>
                                                    <th>Loan Id</th>
                                                    <th>Loan Amount</th>
                                                    <th>Tenor</th>
                                                    <th>Rate</th>
                                                    <th>Status</th>
                                                    <th>Application Date</th>
                                                    <th>Product Name</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                        <td>${data.CustomerName}</td>
                                                        <td>${data.LoanId}</td>
                                                        <td>${data.Amount}</td>
                                                        <td>${data.Tenor}</td>
                                                        <td>${data.Rate}</td>
                                                        <td>${data.Status}</td>
                                                            <td>${data.ApplicationDate}</td>
                                                        <td>${data.ProductName}</td>

                                                    <td>
                                                                <button type="button" class="btn btn-info btn-sm" onclick="ShowObligorReviewDetails('${data.NHFNumber}');">Review</button>
                                                            <button type="button" onclick="CheckInfo('${data.NHFNumber}');" class="btn btn-success btn-sm">Get Information</button>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>`;

                    $detail.html(htmlData);

                    $detail.find('.card-header').click(function () {
                        var $cardBody = $(this).siblings('.card-body');
                        $cardBody.toggle();
                    });
                } else {
                    $detail.html('<div class="alert alert-danger">Failed to load data. Please try again.</div>');
                }
            },
            error: function () {
                $detail.html('<div class="alert alert-danger">Error fetching data from the server.</div>');
            }
        });
    }


    function ShowPmbReviewDetails(id) {
        openCustomDialog({
            title: "Property Details",
            content: '@Url.Content("~/PropertySubscription/Details")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    function ShowObligorReviewDetails(id) {
        openCustomDialog({
            title: "Property Details",
            content: '@Url.Content("~/PropertySubscription/Details")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }


    function Approve(id) {
        if (id < 1) {
            cn.msgError("Please selet an item");
        }
        cn.confirm("Confirm the approval process？", function () {
            debugger;
            cn.ajax({
                url: '@Url.Content("~/NmrcActivity/ApproveReview")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }

    function Reject(id) {
        if (id < 1) {
            cn.msgError("Please selet an item");
        }
        var remark = $("#remark").val();

        cn.confirm("Confirm Disapproval？", function () {
            debugger;
            cn.ajax({
                url: '@Url.Content("~/NmrcActivity/DisApproveReview")' + '?id=' + id + '&remark=' + remark,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }




</script>