@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="container-div">
    <div class="row">
        <div class="ibox">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#employee" aria-expanded="true">Pending Employee Registration(s)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="employee" class="tab-pane active">
                        <div class="panel-body">
                            <div class="container-div">
                                <div class="row">
                                    <div id="searchDiv" class="col-sm-12 search-collapse">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <label>Name: </label> <input id="name" col="Name" type="text" />
                                                </li>
                                                <li class="select-time">
                                                    <label>Created: </label>
                                                    <input id="employeeStartTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                    <span>-</span>
                                                    <input id="employeeEndTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                </li>
                                                <li>
                                                    <a id="btnSearch" class="btn btn-primary btn-sm" onclick="searchEmployeeGrid()"><i class="fa fa-search"></i>&nbsp;Search</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group-sm" id="toolbar">
                                        <a id="btnView" class="btn btn-success" onclick="showViewEmployeeForm(false)"><i class="fa fa-eye"></i> View</a>
                                        <a id="btnApprove" class="btn btn-primary disabled" onclick="approveEmployeeForm()"><i class="fa fa-check"></i> Approve</a>
                                        <a id="btnReject" class="btn btn-danger disabled" onclick="rejectEmployeeForm()"><i class="fa fa-remove"></i> Reject</a>
                                    </div>

                                    <div class="col-sm-12 select-table table-striped">
                                        <table id="gridEmployeeTable" data-mobile-responsive="true"></table>
                                    </div>

                                    <!-- Display Form -->
                                    <!-- End Display Form -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">
    $(function () {
        initGrid();

        $("#pEmployeeStatus").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        laydate.render({ elem: '#employeeStartTime', format: 'yyyy-MM-dd', theme: 'molv' });
        laydate.render({ elem: '#employeeEndTime', format: 'yyyy-MM-dd', theme: 'molv' });

    });


    function initGrid() {
        var queryEmployeeUrl = '@Url.Content("~/Employee/GetApprovalPageListJson")';
        $('#gridEmployeeTable').cnTable({
            url: queryEmployeeUrl,
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'CompanyName', title: 'Company', sortable: true },
                { field: 'BranchName', title: 'Branch', visible: false, sortable: true },
                { field: 'DepartmentName', title: 'Department', visible: false, sortable: true },
                { field: 'TitleName', title: 'Title', visible: false, sortable: true },
                { field: 'FirstName', title: 'FirstName', sortable: true },
                { field: 'OtherName', title: 'Other Name(s)', sortable: true },
                { field: 'LastName', title: 'Last Name', sortable: true },
                { field: 'BVN', title: 'BVN', sortable: true },
                { field: 'NIN', title: 'NIN', visible: false, sortable: true },
                { field: 'GenderName', title: 'Gender', sortable: true },
                { field: 'DateOfBirth', title: 'Date Of Birth', visible: false, sortable: true },
                { field: 'MaritalStatusName', title: 'Marital Status', visible: false, sortable: true },
                { field: 'PostalAddress', title: 'Postal Address', visible: false, sortable: true },
                { field: 'EmailAddress', title: 'Email Address', visible: false, sortable: true },
                { field: 'MobileNumber', title: 'Mobile Number', sortable: true },
                { field: 'AlertTypeName', title: 'Alert Type', visible: false, sortable: true },
                {
                    field: 'BaseModifyTime',
                    title: 'Create Time',
                    visible: false,
                    formatter: function (value, row, index) {
                        return cn.formatDate(value, "yyyy-MM-dd HH:mm:ss");
                    }
                },
            ],


            detailView: true,
            onExpandRow: function (index, row, $detail) {
                var date = new Date(row.BaseCreateTime);
                var formattedDate = date.toLocaleDateString(); // Format as a localized date string

                var detailHtml =
                    '<div class="card">' +
                    '<div class="card-header text-center" > ' +
                    '<h6 class="card-title" style="font-weight: bold; color: black; font-size: 15px;">NHF Registration for ' + row.FirstName + ' ' + row.LastName + '</h6>' +
                    '</div>' +
                    '<div class="card-body">' +
                    '<form>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="effectiveDate">Effective Date:</label>' +
                    '<input type="text" id="effectiveDate" name="effectiveDate" placeholder="Effective Date" class="form-control text-left" readonly value="' + formattedDate + '" /> ' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="emailAddress">Email Address:</label>' +
                    '<input type="text" id="emailAddress" name="emailAddress" placeholder="Email Address" class="form-control text-left" readonly value="' + row.EmailAddress + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="phone">Phone:</label>' +
                    '<input type="text" id="phone" name="phone" placeholder="Phone" class="form-control text-left" readonly value="' + row.MobileNumber + '"/>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="remark">Remark:</label>' +
                    '<input type="text" id="remark" name="remark" placeholder="Remark" class="form-control text-left" />' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="maritalStatus">Marital Status:</label>' +
                    '<input type="text" id="maritalStatus" name="maritalStatus" placeholder="Marital Status" class="form-control text-left" readonly value="' + row.MaritalStatusName + '"/>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="gender">Gender:</label>' +
                    '<input type="text" id="gender" name="gender" placeholder="Gender" class="form-control text-left" readonly value="' + row.GenderName + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="bvn">BVN:</label>' +
                    '<input type="text" id="bvn" name="bvn" placeholder="BVN" class="form-control text-left" readonly value="' + row.BVN + '"/>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="nin">NIN:</label>' +
                    '<input type="text" id="nin" name="nin" placeholder="NIN" class="form-control text-left" readonly value="' + row.NIN + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="bankName">Bank Name:</label>' +
                    '<input type="text" id="bankName" name="bankName" placeholder="Bank Name" class="form-control text-left" readonly value="' + row.CustomerBank + '"/>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="bankAccountNo">Bank Account Number:</label>' +
                    '<input type="text" id="bankAccountNo" name="bankAccountNo" placeholder="Bank Account Number" class="form-control text-left" readonly value="' + row.BankAccountNumber + '"/>' +
                    '</div>' +
                    '</div>' +
                    '<div class="form-row">' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="contributionLocation">Contribution Location:</label>' +
                    '<input type="text" id="contributionLocation" name="contributionLocation" placeholder="Contribution Location" class="form-control text-left" readonly value="' + row.ContributionBranchName + '"/>' +
                    '</div>' +
                    '<div class="form-group col-sm-6">' +
                    '<label for="registrationLocation">Registration Location:</label>' +
                    '<input type="text" id="registrationLocation" name="registrationLocation" placeholder="Registration Location" class="form-control text-left" readonly value="' + row.PostalAddress + '"/>' +
                    '</div>' +
                    '</div>' +
                    '</form>' +
                    '</div>';

                $detail.html(detailHtml);
                // Attach click event to the plus icon
                $detail.find('.card-header').click(function () {
                    var $cardBody = $(this).siblings('.card-body');
                    if ($cardBody.is(':visible')) {
                        $cardBody.hide();
                    } else {
                        $cardBody.show();
                    }
                });
            }
        });
    }

    // ... Other functions ...

    function searchEmployeeGrid() {
        $('#gridEmployeeTable').cnTable('search');
        resetToolbarStatus();
    }


    function showViewEmployeeForm(bView) {
        var id = 0;
        if (!bView) {
            var selectedRow = $("#gridEmployeeTable").bootstrapTable("getSelections");
            if (!cn.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        cn.openDialog({
            title: id > 0 ? "View Employee Record" : "",
            content: '@Url.Content("~/Employee/NHFRegUserForm")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
            }
        });
    }

    function approveEmployeeForm() {
        var selectedRow = $("#gridEmployeeTable").bootstrapTable("getSelections");
        cn.confirm("Confirm to approve form?", function () {
            var id = selectedRow[0].Id;
            cn.ajax({
                url: '@Url.Content("~/Employee/ApproveFormJson")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }

    function rejectEmployeeForm() {
        var selectedRow = $("#gridEmployeeTable").bootstrapTable("getSelections");
        cn.confirm("Confirm to reject form?", function () {
            var id = selectedRow[0].Id;
            cn.ajax({
                url: '@Url.Content("~/Employee/RejectFormJson")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }



</script>
