@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="form-group">
            <label class="col-sm-3 control-label">Parent Menu</label>
            <div class="col-sm-8">
                <input id="parent" type="hidden" col="Parent" />
                <input id="parentName" col="ParentName" type="text" class="form-control" readonly="readonly" onclick="showChooseForm()" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Menu type</label>
            <div class="col-sm-8" id="menuType" col="MenuType"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Menu name<font class="red"> *</font></label>
            <div class="col-sm-8">
                <input id="menuName" col="MenuName" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Permission ID</label>
            <div class="col-sm-8">
                <input id="authorize" col="Authorize" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Request address</label>
            <div class="col-sm-8">
                <input id="menuUrl" col="MenuUrl" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Show sorting</label>
            <div class="col-sm-8">
                <input id="menuSort" col="MenuSort" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Approval Level</label>
            <div class="col-sm-8">
                <input id="approvalLevel" col="ApprovalLevel" type="text" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">icon</label>
            <div class="col-sm-8">
                <input id="menuIcon" col="MenuIcon" class="form-control" type="text" placeholder="select icon">
                <div class="ms-parent" style="width: 100%;">
                    <div class="icon-drop animated flipInX" style="display: none;max-height:200px;overflow-y:auto">
                        @Html.PartialAsync("MenuIcon").Result
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Menu Status</label>
            <div class="col-sm-8" id="menuStatus" col="MenuStatus"></div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = cn.request("id");
    var parentId = cn.request("parent");
    var parentName = cn.request("parentName");
    $(function () {
        getForm();

        $("#menuIcon").focus(function () {
            $(".icon-drop").show();
        });
        $(".icon-drop").find(".ico-list i").on("click", function () {
            $('#menuIcon').val($(this).attr('class'));
            $(".icon-drop").hide();
        });

        $("#menuType").cnRadioBox({ data: cn.getJson(@Html.Raw(typeof(MenuTypeEnum).EnumToDictionaryString())) });
        $("#menuStatus").cnRadioBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        $('input[name=menuType_radiobox]').on('ifChecked', function (event) {
            var menuType = $(event.target).val();
            menuVisible(menuType);
        });
        $("#form").validate({
            rules: {
                menuName: { required: true }
            }
        });
    });

    function getForm() {
        if (id > 0) {
            cn.ajax({
                url: '@Url.Content("~/Menu/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#form").setWebControls(obj.Data);
                    }
                }
            });
        }
        else {
            cn.ajax({
                url: '@Url.Content("~/Menu/GetMaxSortJson")' + '?parent=' + parentId,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var defaultData = {};
                        defaultData.Parent = parentId;
                        if (parentName) {
                            defaultData.ParentName = parentName;
                        }
                        else {
                            defaultData.ParentName = "Home Directory";
                        }
                        defaultData.MenuStatus = "@StatusEnum.Yes.ToInt()";

                        defaultData.MenuSort = obj.Data;
                        $("#form").setWebControls(defaultData);
                    }
                }
            });
        }
    }

    function menuVisible(menuType) {
        if (menuType == "@MenuTypeEnum.Directory.ToInt()") {
            $("#menuUrl").parents(".form-group").hide();
            $("#authorize").parents(".form-group").hide();
            $("#approvalLevel").parents(".form-group").show();
            $("#menuIcon").parents(".form-group").show();
        } else if (menuType == "@MenuTypeEnum.Menu.ToInt()") {
            $("#menuUrl").parents(".form-group").show();
            $("#authorize").parents(".form-group").show();
            $("#approvalLevel").parents(".form-group").show();
            $("#menuIcon").parents(".form-group").hide();
        } else if (menuType == "@MenuTypeEnum.Button.ToInt()") {
            $("#menuUrl").parents(".form-group").hide();
            $("#authorize").parents(".form-group").show();
            $("#approvalLevel").parents(".form-group").hide();
            $("#menuIcon").parents(".form-group").hide();
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            cn.ajax({
                url: '@Url.Content("~/Menu/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);;
                        parent.searchTreeGrid(obj.Data);
                        parent.layer.close(index);
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }

    function showChooseForm() {
        cn.openDialog({
            title: "Menu Selection",
            content: '@Url.Content("~/Menu/MenuChoose")' + '?id=' + id,
            width: "300px",
            height: "390px",
            shadeClose: true,
            callback: function (index, layero) {
                var childFrame = window[layero.find('iframe')[0]['name']];
                var treeId = $(childFrame.document.body).find('#treeId').val();
                var treeName = $(childFrame.document.body).find('#treeName').val();
                $("#parentName").val(treeName);
                $("#parent").val(treeId);
                layer.close(index);
            }
        });
    }
</script>