@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment HostingEnvironment
@section header{
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/css/fileinput.min.css"))
    @BundlerHelper.Render(HostingEnvironment.ContentRootPath, Url.Content("~/lib/fileinput/5.0.3/js/fileinput.min.js"))
}

    <div class="wrapper animated fadeInRight">
        <form id="form" class="form-horizontal m">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-header" style="height: auto;">
                    <span class="dialogblockheader">New Agent Record</span>
                    <div class="form-group" style="margin-top: 15px;">
                        <div class="col-sm-6">
                            <label class="control-label">Choose Agent Type<font class="red"> *</font></label>
                            <div id="agentType" col="AgentType"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label class="control-label">Email<font class="red"> *</font></label>
                            <input id="emailAddress" col="EmailAddress" type="text" class="form-control" />
                        </div>
                        <div class="col-sm-6">
                            <label class="control-label">Mobile/Telephone<font class="red"> *</font></label>
                            <input id="mobileNumber" col="MobileNumber" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3" style="margin-bottom: 0px;">
                <button class="btn btn-success" type="button" id="generateOTP" style="margin-top: 10px;">
                    <i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Generate OTP</span>
                </button>
            </div>
            <div id="empPmbDevCoop" style="margin-top: 10px;">
                <div class="dialogblockborder dialogblockborderheadline">
                    <div class="dialogblock-body" style="height: auto;">
                        <span id="empPmbDevCoopTitle" class="dialogblockheader">Employer</span>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Name<font class="red"> *</font></label>
                                <input id="name" col="Name" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Address<font class="red"> *</font></label>
                                <textarea id="address" col="Address" class="form-control" style="height:60px"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Sector<font class="red"> *</font></label>
                                <div id="sector" col="Sector"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Sub-Sector</label>
                                <div id="subSector" col="SubSector"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">RC Number<font class="red"> *</font></label>
                                <input id="rcNumber" col="RCNumber" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Date Of Incorporation</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="dateOfIncorporation" col="DateOfIncorporation" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Nature Of Business</label>
                                <input id="natureOfBusiness" col="NatureOfBusiness" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Name Of Registrar</label>
                                <input id="nameOfRegistrar" col="NameOfRegistrar" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Company Class</label>
                                <div id="companyClass" col="CompanyClass"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Company Type</label>
                                <div id="companyType" col="CompanyType"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Contribution Frequency</label>
                                <div id="contributionFrequency" col="ContributionFrequency"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Website</label>
                                <input id="website" col="Website" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <label class="control-label">Organization Logo</label>
                                <input id="logo" col="Logo" type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="individual" style="margin-top: 10px;">
                <div class="dialogblockborder dialogblockborderheadline">
                    <div class="dialogblock-body" style="height: auto;">
                        <span class="dialogblockheader">Individual Contributor</span>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">BVN<font class="red"> *</font></label>
                                <input id="bvn" col="BVN" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">NIN</label>
                                <input id="nin" col="NIN" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Title</label>
                                <div id="title" col="Title"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">First Name<font class="red"> *</font></label>
                                <input id="firstName" col="FirstName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Other Name(s)</label>
                                <input id="otherName" col="OtherName" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Last Name<font class="red"> *</font></label>
                                <input id="lastName" col="LastName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="col-sm-2 control-label" style="padding-left: 0px;">Gender</label>
                                <div id="gender" col="Gender"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Date of Birth<font class="red"> *</font></label>
                                <input id="dateOfBirth" col="DateOfBirth" type="text" class="form-control" placeholder="yyyy-MM-dd" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Postal Address</label>
                                <textarea id="postalAddress" col="PostalAddress" class="form-control" style="height:60px"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Marital Status</label>
                                <div id="marital" col="Marital"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Kin's Last Name</label>
                                <input id="kinLastName" col="KinLastName" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Kin's FIrst Number</label>
                                <input id="kinFirstNumber" col="KinFirstNumber" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Kin's Mobile/Telephone</label>
                                <input id="kinMobileNumber" col="KinMobileNumber" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Kin's Relationship</label>
                                <div id="kinRelationship" col="KinRelationship"></div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Employment Type</label>
                                <div id="employmentType" col="EmploymentType"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Company Name<font class="red"> *</font></label>
                                <input id="coyName" col="CoyName" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Company Address<font class="red"> *</font></label>
                                <textarea id="coyAddress" col="CoyAddress" class="form-control" style="height:60px"></textarea>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Company RC Number<font class="red"> *</font></label>
                                <input id="coyRcNumber" col="CoyRCNumber" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Company Sector<font class="red"> *</font></label>
                                <div id="coySector" col="CoySector"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Company Sub-Sector</label>
                                <div id="coySubSector" col="CoySubSector"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Contribution Branch</label>
                                <div id="branch" col="Branch"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Date of Employment</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control" id="employmentDate" col="EmploymentDate" placeholder="yyyy-MM-dd">
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Account Type</label>
                                <div id="accountType" col="AccountType"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Bank Name</label>
                                <div id="bankName" col="CustomerBank"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Account Number</label>
                                <input id="accountNumber" col="AccountNumber" type="text" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Monthly Salary (Net Pay)</label>
                                <input id="monthlySalary" col="MonthlySalary" type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <label class="control-label">Alert Type</label>
                                <div id="alertType" col="AlertType"></div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Statement</label>
                                <input id="statement" col="Statement" type="text" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="manageLogin" style="margin-top: 10px;">
                <div class="dialogblockborder dialogblockborderheadline">
                    <div class="dialogblock-body" style="height: auto;">
                        <span id="manageLoginTitle" class="dialogblockheader">Login Info</span>
                        <div class="row" style="display: block !important;">
                            <div class="col-sm-6" style="height: auto; border-right: 1px solid #bbb9b9; margin-bottom: 5px;">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">User Name<font class="red"> *</font></label>
                                        <input id="userName" col="UserName" type="email" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">BVN (optional)</label>
                                        <input id="indBvn" col="IndBVN" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">First Name<font class="red"> *</font></label>
                                        <input id="indFirstName" col="IndFirstName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">Last Name<font class="red"> *</font></label>
                                        <input id="indLastName" col="IndLastName" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">Date of Birth</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control" id="indDob" col="IndDOB" placeholder="yyyy-MM-dd">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <label class="control-label">Default Role<font class="red"> *</font></label>
                                        <div id="role" col="Role"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div style="padding: 15px 0px 5px 0px;">
                                    <font style="font-weight: bold; color: #e70e0e;">
                                        The applicant is required to submit the following information in order to complete this registration <font style="color: black">(All fields marked <font style="color: red">*</font> are required)</font>:
                                    </font>
                                    <ul style="padding-left: 15px; padding-top: 20px; text-shadow: 1px 0px 1px #9E9E9E;">
                                        <li id="lUserName" style="list-style-type: square; margin-bottom: 5px;">Provide the <strong>USERNAME</strong> - <font style="color: #5555b7;">the name that will be used to login to the application, which is essentially an <strong>Email Address</strong>.</font></li>
                                        <li id="lBvn" style="list-style-type: square; margin-bottom: 5px;">Enter the <strong>BVN</strong> - <font style="color: #5555b7;">Bank Verification Number (11 digit numbers)</font></li>
                                        <li id="lFirstName" style="list-style-type: square; margin-bottom: 5px;">Enter <strong>First Name</strong></li>
                                        <li id="lLastName" style="list-style-type: square; margin-bottom: 5px;">Enter <strong>Last Name</strong></li>
                                        <li id="lDateOfBirth" style="list-style-type: square; margin-bottom: 5px;">Provide <strong>Date Of Birth</strong></li>
                                        <li id="lRole" style="list-style-type: square; margin-bottom: 5px;">Select the default <strong>Role</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        var id = cn.request("id");
        var selectedRole = '';
        var roleMode = @RoleEnum.General.ToInt();
        var selectedType = @GlobalConstant.ZERO;
        $(function () {        
            $('#indDob').hide();
            $('#emailAddress').attr('readonly', true);
            $('#mobileNumber').attr('readonly', true);
            $("#generateOTP").attr("disabled", "disabled");
            //$('#generateOTP').hide();
            $("#generateOTP").parents(".form-group").hide();
            $('#empPmbDevCoop').show();
            $('#individual').hide();
            $('#manageLogin').hide();

            $("#agentType").cnComboBox({
                url: '@Url.Content("~/AgentType/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#sector").cnComboBox({
                url: '@Url.Content("~/Sector/GetListJson")',
                key: "Id",
                value: "Name"
            });
            $("#bankName").cnComboBox({
                url: '@Url.Content("~/Bank/GetListJson")',
                key: "Id",
                value: "Name"
            });

            $("#subSector").cnComboBox({
                url: '@Url.Content("~/SubSector/GetListJson")',
                key: "Id",
                value: "Name"
            });

            $("#coySector").cnComboBox({
                url: '@Url.Content("~/Sector/GetListJson")',
                key: "Id",
                value: "Name"
            });

            $("#coySubSector").cnComboBox({
                url: '@Url.Content("~/SubSector/GetListJson")',
                key: "Id",
                value: "Name"
            });

            laydate.render({ elem: '#dateOfIncorporation', type: 'date', theme: 'molv' });

            $("#companyClass").cnComboBox({
                url: '@Url.Content("~/CompanyClass/GetListJson")',
                key: "Id",
                value: "Name"
            });

            $("#companyType").cnComboBox({
                url: '@Url.Content("~/CompanyType/GetListJson")',
                key: "Id",
                value: "Name"
            });

            $("#contributionFrequency").cnComboBox({
                url: '@Url.Content("~/ContributionFrequency/GetListJson")',
                key: "Id",
                value: "Name"
            });

            laydate.render({ elem: '#indDob', type: 'date', theme: 'molv' });

            $("#title").cnComboBox({
                url: '@Url.Content("~/Title/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#gender").cnComboBox({
                url: '@Url.Content("~/Gender/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            laydate.render({ elem: '#dateOfBirth', type: 'date', theme: 'molv' });

            $("#marital").cnComboBox({
                url: '@Url.Content("~/MaritalStatus/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#kinRelationship").cnComboBox({
                url: '@Url.Content("~/Relation/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#employmentType").cnComboBox({
                data: cn.getJson(@Html.Raw(typeof(EmploymentTypeEnum).EnumToDictionaryString()))
            });

            $("#branch").cnComboBox({
                url: '@Url.Content("~/State/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            laydate.render({ elem: '#employmentDate', type: 'date', theme: 'molv' });

            $("#accountType").cnComboBox({
                url: '@Url.Content("~/AccountType/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#alertType").cnComboBox({
                url: '@Url.Content("~/AlertType/GetListJson")',
                key: "Id",
                value: "Name",
                class: "form-control"
            });

            $("#name").attr("disabled", "disabled");
            $("#address").attr("disabled", "disabled");
            $("#sector_select").attr("disabled", "disabled");
            $("#subSector_select").attr("disabled", "disabled");
            $("#rcNumber").attr("disabled", "disabled");
            $("#dateOfIncorporation").attr("disabled", "disabled");
            $("#natureOfBusiness").attr("disabled", "disabled");
            $("#nameOfRegistrar").attr("disabled", "disabled");
            $("#companyClass_select").attr("disabled", "disabled");
            $("#companyType_select").attr("disabled", "disabled");
            $("#contributionFrequency_select").attr("disabled", "disabled");
            $("#website").attr("disabled", "disabled");
            $("#logo").attr("disabled", "disabled");

            $('#agentType').change(function () {
                selectedType = $("#agentType").cnComboBox('getValue');
                if (selectedType == @GlobalConstant.ZERO) {
                    $('#emailAddress').val('');
                    $('#emailAddress').attr('readonly', true);
                    $('#mobileNumber').val('');
                    $('#mobileNumber').attr('readonly', true);
                    $("#generateOTP").attr("disabled", "disabled");
                    $('indDob').hide();
                    //$('#generateOTP').hide();
                    $("#generateOTP").parents(".form-group").hide();
                    $("#name").attr("disabled", "disabled");
                    $("#address").attr("disabled", "disabled");
                    $("#sector_select").attr("disabled", "disabled");
                    $("#subSector_select").attr("disabled", "disabled");
                    $("#rcNumber").attr("disabled", "disabled");
                    $("#dateOfIncorporation").attr("disabled", "disabled");
                    $("#natureOfBusiness").attr("disabled", "disabled");
                    $("#nameOfRegistrar").attr("disabled", "disabled");
                    $("#companyClass_select").attr("disabled", "disabled");
                    $("#companyType_select").attr("disabled", "disabled");
                    $("#contributionFrequency_select").attr("disabled", "disabled");
                    $("#website").attr("disabled", "disabled");
                    $("#logo").attr("disabled", "disabled");
                    $('#empPmbDevCoop').show();
                    $('#individual').hide();
                    $('#manageLogin').hide();
                }
                if (selectedType == @GlobalConstant.ONE) {
                    selectedRole = 'admin';
                    $('#emailAddress').val('');
                    $('#emailAddress').attr('readonly', false);
                    $('#mobileNumber').val('');
                    $('#mobileNumber').attr('readonly', false);
                    //$('#generateOTP').hide();
                    $('#indDob').parents(".form-group").hide();                
                    $("#generateOTP").parents(".form-group").hide();
                    $("#name").removeAttr("disabled");
                    $("#address").removeAttr("disabled");
                    $("#sector_select").removeAttr("disabled");
                    $("#subSector_select").attr("disabled", "disabled");
                    $("#rcNumber").removeAttr("disabled");
                    $("#dateOfIncorporation").removeAttr("disabled");
                    $("#natureOfBusiness").removeAttr("disabled");
                    $("#nameOfRegistrar").removeAttr("disabled");
                    $("#companyClass_select").removeAttr("disabled");
                    $("#companyType_select").removeAttr("disabled");
                    $("#contributionFrequency_select").removeAttr("disabled");
                    $("#website").removeAttr("disabled");
                    $("#logo").removeAttr("disabled");
                    $('#empPmbDevCoop').show();
                    $('#individual').hide();
                    $('#manageLogin').show();
                    $("#sector").parents(".form-group").show();
                    $("#natureOfBusiness").parents(".form-group").show();
                    $("#companyClass").parents(".form-group").show();
                    $("#contributionFrequency").parents(".form-group").show();
                    document.getElementById("empPmbDevCoopTitle").innerHTML = "Employer";
                    document.getElementById("manageLoginTitle").innerHTML = "Admin Login Setup";
                }
                if (selectedType == @GlobalConstant.TWO || selectedType == @GlobalConstant.THREE || selectedType == @GlobalConstant.FOUR) {
                    selectedRole = 'admin';
                    $('#emailAddress').val('');
                    $('#emailAddress').attr('readonly', false);
                    $('#mobileNumber').val('');
                    $('#mobileNumber').attr('readonly', false);
                    $("#generateOTP").parents(".form-group").hide();
                    $("#name").removeAttr("disabled");
                    $("#address").removeAttr("disabled");
                    $("#rcNumber").removeAttr("disabled");
                    $("#dateOfIncorporation").removeAttr("disabled");
                    $('#empPmbDevCoop').show();
                    $('#individual').hide();
                    $('#manageLogin').show();
                    $("#sector").parents(".form-group").hide();
                    $("#natureOfBusiness").parents(".form-group").hide();
                    $("#companyClass").parents(".form-group").hide();
                    $("#contributionFrequency").parents(".form-group").hide();
                    document.getElementById("empPmbDevCoopTitle").innerHTML = "PMB/Developer/Cooperative Society";
                    document.getElementById("manageLoginTitle").innerHTML = "Admin Login Setup";
                }
                if (selectedType == @GlobalConstant.FIVE) {
                    selectedRole = 'user';
                    $('#emailAddress').val('');
                    $('#emailAddress').attr('readonly', false);
                    $('#mobileNumber').val('');
                    $('#mobileNumber').attr('readonly', false);
                    $("#generateOTP").removeAttr("disabled");
                    //$('#generateOTP').show();
                    $("#generateOTP").parents(".form-group").hide();
                    $('#empPmbDevCoop').hide();
                    $('#individual').show();
                    $('#manageLogin').show();
                    document.getElementById("manageLoginTitle").innerHTML = "Individual";
                    document.getElementById("manageLoginTitle").innerHTML = "Admin Login Setup";

                    $('#generateOTP').on('click', function () {

                        if ($('#emailAddress').val() == "") {
                            cn.msgError("Please enter email!");
                            return false;
                        }
                        else if ($('#mobileNumber').val() == "") {
                            cn.msgError("Please enter mobile/telephone!");
                            return false;
                        }

                        //$('#generateOTP').hide();
                        $("#generateOTP").parents(".form-group").hide();
                        $('#empPmbDevCoop').hide();
                        $('#individual').show();
                        $('#manageLogin').show();
                        document.getElementById("manageLoginTitle").innerHTML = "Login Profile";
                        $("#indBvn").parents(".form-group").hide();
                        $("#indFirstName").parents(".form-group").hide();
                        $("#indLastName").parents(".form-group").hide();
                        $("#indDob").parents(".form-group").hide();
                        $("#lBvn").hide();
                        $("#lFirstName").hide();
                        $("#lLastName").hide();
                        $("#lDateOfBirth").hide();

                        $("#subSector_select").attr("disabled", "disabled");
                        $("#coyName").parents(".col-sm-6").hide();
                        $("#coyAddress").parents(".form-group").hide();
                        $("#coySector").parents(".form-group").hide();
                        $("#branch").parents(".form-group").hide();
                        $("#coySubSector_select").attr("disabled", "disabled");
                    });
                }

                $("#role").cnComboBox({
                    url: '@Url.Content("~/Role/GetListJson")' + '?mode=' + roleMode + '&rolename=' + selectedRole,
                    key: "Id",
                    value: "RoleName",
                    class: "form-control"
                });
            });

            $("#logo").fileinput({
                language: 'en',
                showPreview: false,
                allowedFileExtensions: ['jpeg', 'jpg', 'png', 'gif', 'tiff']
            }).on("fileuploaded", function (event, data) {
                var obj = data.response;
                if (obj.Tag == @GlobalConstant.ONE) {
                    filePath = obj.Data;
                }
                else {
                    filePath = '';
                }
            });

            $('#sector').change(function () {
                sector = $("#sector").cnComboBox('getValue');
                $("#subSector").cnComboBox({
                    url: '@Url.Content("~/SubSector/GetListJson")' + '?sector=' + sector,
                    key: "Id",
                    value: "Name"
                });
                if (sector > @GlobalConstant.ZERO) {
                    $("#subSector_select").removeAttr("disabled");
                }
                else {
                    $("#subSector_select").attr("disabled", "disabled");
                }
            });

            $('#employmentType').change(function () {
                employmentType = $("#employmentType").cnComboBox('getValue');
                if (employmentType == @GlobalConstant.ONE) {
                    $("#coyName").parents(".col-sm-6").show();
                    $("#coyAddress").parents(".form-group").show();
                    $("#coySector").parents(".form-group").show();
                    $("#branch").parents(".form-group").show();
                }
                else {
                    $("#coyName").parents(".col-sm-6").hide();
                    $("#coyAddress").parents(".form-group").hide();
                    $("#coySector").parents(".form-group").hide();
                    $("#branch").parents(".form-group").hide();
                }
            });

            $('#coySector').change(function () {
                coySector = $("#coySector").cnComboBox('getValue');
                $("#coySubSector").cnComboBox({
                    url: '@Url.Content("~/SubSector/GetListJson")' + '?sector=' + coySector,
                    key: "Id",
                    value: "Name"
                });
                if (coySector > @GlobalConstant.ZERO) {
                    $("#coySubSector_select").removeAttr("disabled");
                }
                else {
                    $("#coySubSector_select").attr("disabled", "disabled");
                }
            });

            getForm();

            $("#form").validate({
                rules: {
                    emailAddress: {
                        required: true,
                        email: true,
                    },
                    mobileNumber: {
                        required: true,
                        //isPhone: true,
                    },
                    userName: {
                        required: true,
                        email: true,
                    }
                },
                messages: {
                    emailAddress: { required: "Email is required" },
                    mobileNumber: { required: "Mobile number is required" },
                    userName: { required: "UserName is required" }
                }
            });
        });

        function getForm() {
            if (id > @GlobalConstant.ZERO) {
                cn.ajax({
                    url: '@Url.Content("~/Company/GetFormJson")' + '?id=' + id,
                    type: "get",
                    success: function (obj) {
                        if (obj.Tag == @GlobalConstant.ONE) {
                            var result = obj.Data;
                            $("#form").setWebControls(result);
                        }
                    }
                });
            }
            else {
                var defaultData = {};
                defaultData.AgentType = "";
                defaultData.EmailAddress = ""
                defaultData.MobileNumber = "";
                $("#form").setWebControls(defaultData);
            }
        }

        $(document).ready(function () {
            // Select the input field by its ID
            var rcNumberInput = $('#rcNumber');

            // Attach an event handler to the input field
            rcNumberInput.on('input', function () {
                // Get the current value of the input field
                var currentValue = rcNumberInput.val();

                // Use a regular expression to check if "RC" is already present
                var regex = /^RC(\d*)$/i; // Case-insensitive check for "RC" followed by numbers

                if (!regex.test(currentValue)) {
                    // If the value does not match the pattern, add "RC" as a prefix
                    rcNumberInput.val('RC' + currentValue.replace(/\D/g, ''));
                }
            });
        });

        function saveForm(index) {
            if ($("#form").validate().form()) {
                var path = '';
                if (selectedType == @GlobalConstant.ONE || selectedType == @GlobalConstant.TWO || selectedType == @GlobalConstant.THREE || selectedType == @GlobalConstant.FOUR) {
                    path = '@Url.Content("~/Company/SaveFormsJson")';
                }
                else if (selectedType == @GlobalConstant.FIVE) {
                    path = '@Url.Content("~/Employee/SaveFormsJson")';
                }
                var postData = $("#form").getWebControls({ Id: id });
                cn.ajax({
                    url: path,
                    type: "post",
                    data: postData,
                    success: function (obj) {
                        if (obj.Tag == @GlobalConstant.ONE) {
                            //setTimeout(cn.msgSuccess(obj.Message), 5000);
                            cn.msgSuccess(obj.Message);
                            parent.searchGrid();
                            parent.layer.close(index);
                        }
                        else {
                            cn.msgError(obj.Message);
                        }
                    }
                });
            }
        }
    </script>
