@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="container-div">
    <div class="row">
        <div class="ibox">
            <div class="tabs-container">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#Employer" aria-expanded="true">Pending Employer Registration(s)</a>
                    </li>
                    @*<li class="">
                    <a data-toggle="tab" href="#employer" aria-expanded="false">Pending Employer Registration(s)</a>
                    </li>*@
                </ul>
                <div class="tab-content">
                        <div class="panel-body">
                            <div class="container-div">
                                <div class="row">
                                    <div id="searchDiv" class="col-sm-12 search-collapse">
                                        <div class="select-list">
                                            <ul>
                                                <li>
                                                    <label>Name: </label> <input id="name" col="Name" type="text" />
                                                </li>
                                                <li>
                                                    Status: <span id="status" col="Status"></span>
                                                </li>
                                                <li class="select-time">
                                                    <label>Created: </label>
                                                    <input id="startTime" col="StartTime" type="text" class="time-input" placeholder="start time" />
                                                    <span>-</span>
                                                    <input id="endTime" col="EndTime" type="text" class="time-input" placeholder="end time" />
                                                </li>
                                                <li>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="btn-group-sm" id="toolbar">
                                    </div>

                                    <div class="col-sm-12 select-table table-striped">
                                        <table id="gridTable" data-mobile-responsive="true"></table>
                                    </div>
                                    <div id="myForm">
                                        <form id="myForm">
                                            <h4 style="text-align:center;">NHF Registration for </h4>
                                            <div class="form-group">
                                                <div class="col-sm-6">
                                                    <label for="email" class="form-label">Email</label>
                                                    <input type="email" id="emailEmployer" name="Email" class="form-control" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="phone" class="form-label">Phone No</label>
                                                    <input type="tel" id="phoneEmployer" name="Phone" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-top:8%">
                                                <div class="col-sm-6">
                                                    <label for="sector" class="form-label">Sector</label>
                                                    <input type="number" id="sector" name="Sector" class="form-control" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="subSector" class="form-label">SubSector</label>
                                                    <input type="number" id="subSector" name="SubSector" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-top:16%">
                                                <div class="col-sm-6">
                                                    <label for="address" class="form-label">Address</label>
                                                    <input type="email" id="address" name="Address" class="form-control" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="address2" class="form-label">Address 2</label>
                                                    <input type="email" id="address2" name="Address2" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-top:24%">
                                                <div class="col-sm-6">
                                                    <label for="contactPersonDesignation" class="form-label">Contact Person Designation</label>
                                                    <input type="number" id="contactPersonDesignation" name="ContactPersonDesignation" class="form-control" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="contributionLocation" class="form-label">Contribution Location</label>
                                                    <input type="email" id="contributionLocation" name="ContributionLocation" class="form-control" readonly />
                                                </div>
                                            </div>

                                            <div class="form-group" style="margin-top:32%">
                                                <div class="col-sm-6">
                                                    <label for="contributionFrequency" class="form-label">Contribution Frequency</label>
                                                    <input type="number" id="contributionFrequency" name="ContributionFrequency" class="form-control" readonly />
                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="postalAddress" class="form-label">Postal Address</label>
                                                    <input type="email" id="postalAddress" name="PostalAddress" class="form-control" readonly />
                                                </div>
                                            </div>
                                            <div class="form-group" style="margin-top:40%">
                                                <div class="col-sm-6">
                                                    <label for="contributionLocation" class="form-label"></label>

                                                </div>
                                                <div class="col-sm-6">
                                                    <label for="remark" class="form-label">Remark</label>
                                                    <textarea type="text" id="remark" name="Remark" class="form-control" style="height:60px"></textarea>
                                                </div>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        initGrid();
        secondGrid();

        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd' });
    });

    function initGrid() {
        var formOpen = false; // flag to track if form is currently open
        $('#gridTable').cnTable({
            columns: [
                {
                    field: 'plus',
                    title: '',
                    formatter: function (value, row) {
                        var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                        return '<button type="button" class="btn btn-sm btn-primary plus-button" data-row-id="' + row.Id + '"><i class="' + iconClass + '"></i></button>';
                    },
                    events: {
                        'click .plus-button': function (e, value, row, index) {
                            // toggle the form on/off
                            if (formOpen) {
                                $('#myForm').slideUp();
                                $(this).removeClass('btn-danger').addClass('btn-primary'); // Change button background to btn-primary
                            } else {
                                var form = $('#myForm');
                                form.find('input[name="Email"]').val(row.Email);
                                form.find('input[name="Phone"]').val(row.Phone);
                                form.find('input[name="Sector"]').val(row.Sector);
                                form.find('input[name="SubSector"]').val(row.SubSector);
                                form.find('input[name="Address"]').val(row.Address);
                                form.find('input[name="Address2"]').val(row.Address2);
                                form.find('input[name="ContactPersonDesignation"]').val(row.ContactPersonDesignation);
                                form.find('input[name="ContributionFrequency"]').val(row.ContributionFrequency);
                                form.find('input[name="ContributionLocation"]').val(row.ContributionLocation);
                                form.find('input[name="PostalAddress"]').val(row.PostalAddress);
                                form.slideDown();
                                $(this).removeClass('btn-primary').addClass('btn-danger'); // Change button background to btn-danger
                            }
                            formOpen = !formOpen; // update flag

                            // update the plus button icon
                            var iconClass = formOpen ? 'fa fa-times' : 'fa fa-plus';
                            $(this).html('<i class="' + iconClass + '"></i>');
                        }

                    }
                },
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'RCNumber', title: 'RC Number', sortable: true },
                { field: 'ContactPerson', title: 'Contact Person', sortable: true },
                { field: 'DateOfIncorporation', title: 'Date Of Incorporation', visible: true, sortable: true },
                { field: 'NatureOfBusiness', title: 'Nature Of Business', visible: false, sortable: true },
                { field: 'NameOfRegistrar', title: 'Name Of Registrar', visible: false, sortable: true },
                { field: 'CompanyClassName', title: 'Class', visible: false, sortable: true },
                { field: 'CompanyTypeName', title: 'Type', visible: false, sortable: true },
                {
                    }
                },
                {
                    }
                }
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').cnTable('getPagination', params);
                var queryString = $("#searchDiv").getWebControls(pagination);
                return queryString;
            }
        });
    }
    $('#myForm').hide();

    //function secondGrid() {
    //    var queryEmployerUrl = '@Url.Content("~/Company/GetApprovalPageListJson")';
    //    $('#gridTable').cnTable({
    //        url: queryEmployerUrl,
    //        columns: [
    //            { checkbox: true, visible: true },
    //            { field: 'Id', title: 'Id', visible: false },
    //            { field: 'NHFEmployerNumber', title: 'NHF Employer Number', sortable: true },
    //            { field: 'Name', title: 'Employee Name', sortable: true },
    //            { field: 'RCNumber', title: 'RC Number', sortable: true },
    //            { field: 'ContactPerson', title: 'Contact Person', sortable: true },
    //            { field: 'DateOfIncorporation', title: 'Date Of Incorporation', visible: true, sortable: true },
    //            { field: 'NatureOfBusiness', title: 'Nature Of Business', visible: false, sortable: true },
    //            { field: 'NameOfRegistrar', title: 'Name Of Registrar', visible: false, sortable: true },
    //            { field: 'CompanyClassName', title: 'Class', sortable: true },
    //            { field: 'CompanyTypeName', title: 'Type', sortable: true },
    //            {
    //                field: 'Status', title: 'Status', align: 'center',
    //                formatter: function (value, row, index) {
    //                    value = "1";
    //                    if (value == "@StatusEnum.Yes.ToInt()") {
    //                        return '<span class="badge badge-primary">' + "@StatusEnum.Yes.GetDescription()" + '</span>';
    //                    } else {
    //                        return '<span class="badge badge-warning">' + "@StatusEnum.No.GetDescription()" + '</span>';
    //                    }
    //                }
    //            },
    //            {
    //                field: 'BaseModifyTime', title: 'Create Time', formatter: function (value, row, index) {
    //                    return cn.formatDate(value, "yyyy-MM-dd HH:mm:ss");
    //                }
    //            }
    //        ],
    //        queryParams: function (params) {
    //            var pagination = $('#gridTable').cnTable('getPagination', params);
    //            var queryString = $("#searchDiv").getWebControls(pagination);
    //            return queryString;
    //        }
    //    });
    //}

    //function searchEmployeeGrid() {
    //    $('#gridTable').cnTable('search');
    //    resetToolbarStatus();
    //}

    function searchEmployerGrid() {
        $('#gridTable').cnTable('search');
        resetToolbarStatus();
    }

    function showViewEmployerForm(bView) {
        var id = 0;
        if (!bView) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            if (!cn.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        cn.openDialog({
            title: id > 0 ? "View Company Record" : "",
            content: '@Url.Content("~/Company/NHFRegCompanyForm")' + '?id=' + id,
            width: "780px",
        });
    }

    function approveEmployerForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
                var id = cn.getIds(selectedRow);
                cn.ajax({
                    url: '@Url.Content("~/Company/ApproveFormJson")' + '?id=' + id,
                    type: "post",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            cn.msgSuccess(obj.Message);
                            searchGrid();
                        return;
                        }
                        else {
                            cn.msgError(obj.Message);
                        }
                    }
                });
            });
        }
    }

        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            var id = selectedRow[0].Id;
            cn.ajax({
                url: '@Url.Content("~/Company/RejectFormJson")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess("Rejected");
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }

    function deleteForm() {
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        if (cn.checkRowDelete(selectedRow)) {
            cn.confirm("Confirm to delete the selected" + selectedRow.length + "Row data?", function () {
                var ids = cn.getIds(selectedRow);
                cn.ajax({
                    url: '@Url.Content("~/Company/DeleteFormJson")' + '?ids=' + ids,
                    type: "post",
                    success: function (obj) {
                        if (obj.Tag == 1) {
                            cn.msgSuccess(obj.Message);
                            searchGrid();
                        }
                        else {
                            cn.msgError(obj.Message);
                        }
                    }
                });
            });
    }
    }
</script>