@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}

<div class="wrapper animated fadeInRight">
    <form id="form" class="form-horizontal m">
        <div class="col-sm-6" style="height: auto; border-right: 1px solid #bbb9b9;">
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label">Employer<font class="red"> *</font></label>
                <div id="company" col="Company"></div>
            </div>
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label">Role Name<font class="red"> *</font></label>
                <input id="roleName" col="RoleName" type="text" class="form-control" />
            </div>
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label">Display Order</label>
                <input id="roleSort" col="RoleSort" type="text" class="form-control" />
            </div>
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label" style="float:left;">Status</label>
                <div style="float: left;" id="roleStatus" col="RoleStatus"></div>
            </div>
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label">Remark</label>
                <textarea id="remark" class="form-control" style="height:60px"></textarea>
            </div>
            <div class="form-group" style="margin-right: 0px;">
                <label class="control-label">Privileges</label>
                <div id="menuTree" class="ztree"></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="padding: 15px 0px 5px 0px;">
                <font style="font-weight: bold; color: #e70e0e;">
                    The applicant is required to submit the following information in order to complete this registration <font style="color: black">(All fields marked <font style="color: red">*</font> are required)</font>:
                </font>
                <ul style="padding-left: 15px; padding-top: 20px; text-shadow: 1px 0px 1px #9E9E9E;">
                    <li id="lUserName" style="list-style-type: square; margin-bottom: 5px;">Provide the <strong>USERNAME</strong> - <font style="color: #5555b7;">the name that will be used to login to the application, which is essentially an <strong>Email Address</strong>.</font></li>
                    <li id="lBvn" style="list-style-type: square; margin-bottom: 5px;">Enter the <strong>BVN</strong> - <font style="color: #5555b7;">Bank Verification Number (11 digit numbers)</font></li>
                    <li id="lFirstName" style="list-style-type: square; margin-bottom: 5px;">Enter <strong>First Name</strong></li>
                    <li id="lLastName" style="list-style-type: square; margin-bottom: 5px;">Enter <strong>Last Name</strong></li>
                    <li id="lDateOfBirth" style="list-style-type: square; margin-bottom: 5px;">Provide <strong>Date Of Birth</strong></li>
                    <li id="lRole" style="list-style-type: square; margin-bottom: 5px;">Select the default <strong>Role</strong></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    var id = cn.request("id");
    $(function () {
        $('#company').cnComboBoxTree({ url: '@Url.Content("~/Company/GetCompanyTreeListJson")' });
        $("#roleStatus").cnRadioBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        loadMenuTree();

        getForm();

        $("#form").validate({
            rules: {
                company: { required: true },
                roleName: { required: true }
            },
            messages: {
                company: { required: "Employer is required" },
                roleName: { required: "Role name is required" }
            }
        });
    });

    function loadMenuTree() {
        $('#menuTree').cnTree({
            async: false,
            url: '@Url.Content("~/Menu/GetMenuTreeListJson1")',
            check: { enable: true },
            expandLevel: 0
        })
    }

    function getForm() {
        if (id > 0) {
            cn.ajax({
                url: '@Url.Content("~/Role/GetFormJson")' + '?id=' + id,
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        $("#form").setWebControls(obj.Data);
                        $('#menuTree').cnTree("setCheckedNodes", obj.Data.MenuIds);
                    }
                }
            });
        }
        else {
            cn.ajax({
                url: '@Url.Content("~/Role/GetMaxSortJson")',
                type: "get",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        var defaultData = {};
                        defaultData.RoleSort = obj.Data;
                        defaultData.RoleStatus = "@StatusEnum.Yes.ToInt()";
                        $("#form").setWebControls(defaultData);
                    }
                }
            });
        }
    }

    function saveForm(index) {
        if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls({ Id: id });
            postData.Company = cn.getLastValue(postData.Company);
            postData.MenuIds = $('#menuTree').cnTree("getCheckedNodes");
            if (postData.Company <= 0) {
                cn.msgError("Please select employer!");
                return false;
            }
            else if (postData.MenuIds == "") {
                cn.msgError("Please select privileges!");
                return false;
            }
            cn.ajax({
                url: '@Url.Content("~/Role/SaveFormJson")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        parent.searchGrid();
                        parent.layer.close(index);
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        }
    }
</script>