@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<div class="ibox-title">
    <h5>NMRC UnderWriting</h5>
</div>

<div class="container-div">
    <div class="row">

       

        <div class="col-sm-12 select-table table-striped">
            <table id="gridTable" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>

<script type="text/javascript">
    $(function () {
        initGrid();

        $("#status").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(StatusEnum).EnumToDictionaryString())) });

        laydate.render({ elem: '#startTime', format: 'yyyy-MM-dd', theme: 'molv' });
        laydate.render({ elem: '#endTime', format: 'yyyy-MM-dd', theme: 'molv' });
    });

    function initGrid() {
        debugger
        var queryUrl = '@Url.Content("~/NmrcActivity/GetLoanForUnderwriting")';
        $('#gridTable').cnTable({
            url: queryUrl,
            detailView: true,
            sortName: 'BaseModifyTime',
            sortOrder: "Desc",
            columns: [
                { checkbox: true, visible: true },
                { field: 'Id', title: 'Id', visible: false },
                { field: 'PMBName', title: 'Primary Mortgage Bank', sortable: false },
                { field: 'ProductName', title: 'Product Name', sortable: false },
                { field: 'LoanRefNo', title: 'Loan Ref No', sortable: false },
                {
                    field: 'Tenor', title: 'Tenor', sortable: false, formatter: function (value) {
                        return value + " years";
                    }
                },
                {
                    field: 'InterestRate', title: 'Interest Rate', sortable: false, formatter: function (value) {
                        return value + "%";
                    }
                },
                { field: 'TotalAmount', title: 'Total Amount', sortable: false },

                {
                    field: 'BaseModifyTime', title: 'Application Date', formatter: function (value, row, index) {
                        return cn.formatDate(value, "yyyy-MM-dd");
                    }
                },

                {
                    title: 'Actions',
                    align: 'center',
                    formatter: function (value, row, index) {
                        debugger;
                        var actions = [];
                        var checklist = row.CheckList;
                        var buttonName = (checklist == '1') ? 'CheckListed' : 'CheckList';

                        var disabledAttribute = (checklist == '1') ? 'disabled' : '';
                        actions.push('<a class="btn btn-info btn-xs" href="#" onclick="showPmbChecklistForm(true)" ' + disabledAttribute + '><i class="fa-solid fa-house"></i>' + buttonName + '</a>');

                        actions.push('&nbsp;');

                      
                        return actions.join('');
                    }
                },
            ],
            queryParams: function (params) {
                var pagination = $('#gridTable').cnTable('getPagination', params);
                var queryString = $("#searchDiv").getWebControls(pagination);
                return queryString;
            },
            onExpandRow: function (index, row, $detail) {
                initChildGrid(index, row, $detail);
            }
        });
    }

    function searchGrid() {
        $('#gridTable').cnTable('search');
        resetToolbarStatus();
    }



    function openCustomDialog(options) {
        layer.open({
            type: 2,
            title: options.title,
            content: options.content,
            area: [options.width, '90%'],
            btn: [], // Remove the default confirm and close buttons
            success: function (layero, index) {
                options.callback(index, layero);
            }
        });
    }



    function showSaveForm(bAdd) {
        var id = 0;
        if (!bAdd) {
            var selectedRow = $("#gridTable").bootstrapTable("getSelections");
            var loanId = selectedRow[0].LoanId;
            localStorage.setItem('Data2', loanId);

            if (!cn.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        openCustomDialog({
            title: id > 0 ? "Edit Document" : "Add Document",
            content: '@Url.Content("~/Underwriting/AddDocumentForm")' + '?id=' + id,
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }

    


 

    function approveUnderwriting(id) {
        debugger
        cn.confirm("Confirm the approval process？", function () {
            debugger;
            cn.ajax({
                url: '@Url.Content("~/Underwriting/ApproveUnderwriting")' + '?id=' + id,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    }
                    else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }

    function DisapproveUnderwriting(id) {
        debugger
        if (id === 0) {
            cn.msgError("Please select an item");
            return;
        }
        var remark = $("#remark").val();

        cn.confirm("Confirm the Disapproval process？", function () {
            cn.ajax({
                url: '@Url.Content("~/Underwriting/DisapproveUnderwriting")' + '?id=' + id + '&remark=' + remark,
                type: "post",
                success: function (obj) {
                    if (obj.Tag == 1) {
                        cn.msgSuccess(obj.Message);
                        searchGrid();
                    } else {
                        cn.msgError(obj.Message);
                    }
                }
            });
        });
    }


    function initChildGrid(index, row, $detail) {
        $detail.html('Loading data ...');

        $.ajax({
            url: '/Refinancing/GetListById',
            type: 'GET',
            data: { id: row.Id }, 
            success: function (response) {
                if (response.success == true) { 
                    var data = response.data;

                    var dateOfEmployment = new Date(data.DateofEmployment);
                    var formattedDateOfEmployment = dateOfEmployment.toLocaleDateString();

                    // Create the HTML for the table
                    var htmlData = `
                        <div class="card">
                            <div class="card-header text-center">
                                <h6 class="card-title" style="font-weight: bold; color: black; font-size: 15px;">
                                    Underwriting Process for ${data.Name}
                                </h6>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Customer Name</th>
                                            <th>Loan Id</th>
                                            <th>Loan Amount</th>
                                            <th>Tenor</th>
                                            <th>Rate</th>
                                            <th>Status</th>
                                            <th>Application Date</th>
                                            <th>Product Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                                <td>${data.CustomerName}</td>
                                                <td>${data.LoanId}</td>
                                                <td>${data.Amount}</td>
                                                <td>${data.Tenor}</td>
                                                <td>${data.Rate}</td>
                                                <td>${data.Status}</td>
                                                    <td>${data.ApplicationDate}</td>
                                                <td>${data.ProductName}</td>
                                            
                                            <td>
                                                <button type="button" class="btn btn-info btn-sm" onclick="checkEligibility('${data.Id}');">Check Eligibility</button>
                                                <button type="button" id="approve_${data.Id}" onclick="CheckInfo('${data.Id}');" class="btn btn-success btn-sm">Get Information</button>
                                              
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>`;

                    $detail.html(htmlData);

                    $detail.find('.card-header').click(function () {
                        var $cardBody = $(this).siblings('.card-body');
                        $cardBody.toggle();
                    });
                } else {
                    $detail.html('<div class="alert alert-danger">Failed to load data. Please try again.</div>');
                }
            },
            error: function () {
                $detail.html('<div class="alert alert-danger">Error fetching data from the server.</div>');
            }
        });
    }


    function showPmbChecklistForm(bAdd) {
        debugger
        var id = 0;
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        id = selectedRow[0].Id;
        var lenderid = selectedRow[0].LenderID;

        console.log(id);

        if (id == "1") {
            $("#btnAddChecklist").prop("disabled", true);

        }
        localStorage.setItem('lenderid', lenderid);
        if (!bAdd) {


            if (!cn.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        openCustomDialog({
            title: id > 0 ? "Edit Checklist" : "Checklist Form",
            content: '@Url.Content("~/NmrcActivity/NmrcPmbChecklistForm")',
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }


    function showObligorChecklistForm(bAdd) {
        debugger
        var id = 0;
        var selectedRow = $("#gridTable").bootstrapTable("getSelections");
        id = selectedRow[0].Id;
        var NHFNumber = selectedRow[0].NHFNumber;

        console.log(id);

        if (id == "1") {
            $("#btnAddChecklist").prop("disabled", true);

        }
        localStorage.setItem('NHFNumber', NHFNumber);
        if (!bAdd) {


            if (!cn.checkRowEdit(selectedRow)) {
                return;
            }
            else {
                id = selectedRow[0].Id;
            }
        }
        openCustomDialog({
            title: id > 0 ? "Edit Checklist" : "Checklist Form",
            content: '@Url.Content("~/NmrcActivity/NmrcObligorChecklistForm")',
            width: "780px",
            callback: function (index, layero) {
                var iframeWin = window[layero.find('iframe')[0]['name']];
                iframeWin.saveForm(index);
            }
        });
    }



</script>