@{
    Layout = "~/Views/Shared/_FormWhite.cshtml";
}


<div class="singleContribution">
    <form id="form1" class="form-horizontal m">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: 100px;">
                <span class="dialogblockheader">Employee Contribution(Single & Bulk)</span>
                <div>
                    <p class="ism">  FOR THE PAYMENT OF BACKLOG CLICK </p>
                </div>

                <button class="btn btn-primary" type="button" id="backlog" style="margin-top: 10px;">
                    <span class="bold">BACKLOG PAYMENT</span>
                </button>
            </div>
        </div>


        <div id="employeeContribution" style="margin-top: 10px; margin-bottom:5%">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-body" style="height: 100%;">
                    <span class="dialogblockheader">Single Contribution</span>
                    <div Class="form-group">
                        <div class="col-sm-6">
                            <label for="employeeNumber" class="form-label">Employee&nbsp;Number</label>
                            @* <select id="employeeNumber" col="EmployeeNumber" class="form-control">
                            <option></option>
                            </select>*@
                            <input type="text" col="employeeNumber" readonly class="form-control" id="employeeNumber">

                        </div>

                        <div class="col-sm-6">
                            <label for="employeeName" class="form-label">Employee&nbsp;Name</label>
                            <input type="text" readonly col="Name" class="form-control" id="employeeName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="contributionAmount" class="form-label">Contribution&nbsp;Amount</label>
                            <input id="contributionAmount" col="contributionAmount" class="form-control" />
                        </div>

                        <div class="col-sm-6">
                            <label for="employerNumber" class="form-label">Employer&nbsp;Number</label>
                            <input type="text" class="form-control" col="employerNumber" id="employerNumber" readonly>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="month" class="form-label">Month</label>

                            <div id="month" col="month"></div>

                        </div>

                        <div class="col-sm-6">
                            <label for="year" class="form-label">Year</label>
                            <input id="year" col="year" class="form-control" />


                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-6">

                            <label for="Email" class="form-label">Email Address</label>
                            <input id="Email" col="Email" class="form-control" />
                        </div>

                        <div class="col-sm-6">
                            <label for="remark" class="form-label">Remark</label>
                            <input id="remark" readonly col="remarks" class="form-control" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="paymentOption">Payement&nbsp Option</label>

                            <div id="paymentOption" col="PaymentOption"></div>

                        </div>

                        <div class="col-sm-6">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input id="phoneNumber" col="phoneNumber" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>




    <form id="multipleUploadForm" class="form-horizontal m ">
        <div class="dialogblockborder dialogblockborderheadline">
            <div class="dialogblock-header" style="height: 50px;">
                <span class="dialogblockheader">Multiple Upload</span>
                <div>
                    <button class="btn btn-primary" type="button" id="downloadTemplate">
                        <i class="fa fa-file-excel-o"></i>
                        <span class="bold">Download Template </span>
                    </button>
                </div>
            </div>
        </div>
        <div id="employeeContributionMultiple" style="margin-top: 10px; margin-bottom:5%">
            <div class="dialogblockborder dialogblockborderheadline">
                <div class="dialogblock-body" style="height: 100%;">
                    <span class="dialogblockheader">Multiple Contribution</span>
                    <div Class="form-group">
                        <div class="col-sm-6">
                            <label for="accountName" class="form-label">Account&nbsp;Name</label>
                            <input id="accountName" col="AccountName" class="form-control" />
                        </div>

                        <div class="col-sm-6">
                            <label for="narration" class="form-label">Narration</label>
                            <input id="narration" col="Narration" class="form-control" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="phoneNumber" class="form-label">Phone&nbsp;Number</label>
                            <input id="phoneNumber" col="PhoneNumber" class="form-control" />

                        </div>

                        <div class="col-sm-6">
                            <label for="emailAddress" class="form-label">Email&nbsp;Address</label>
                            <input id="emailAddress" col="EmailAddress" class="form-control" />


                        </div>
                    </div>

                    <div Class="form-group">
                        <div class="col-sm-6">

                            <label for="paymentOption" class="form-label">Payment&nbsp;Option</label>

                            <div id="paymentOption1" col="PaymentOption"></div>

                        </div>

                        <div class="col-sm-6">
                            <label class="form-label"></label>

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <label class="control-label">Document Title</label>
                            <input id="document" type="file">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </form>
</div>

<div class="col-sm-12 select-table table-striped">
    <table id="gridTable" data-mobile-responsive="true"></table>
</div>

<div id="initialpayment" class="modal fade" role="dialog" tabindex="-1" aria-labelledby="departmentLabel" aria-hidden="true" data-backdrop="false" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <div class="modal-content">
            <div class="modal-header" data-background-color="blue" style="background-color: Background;color:#FFF;">
                <button type="button" class="close" data-dismiss="modal" id="tabs" name="tabs"><i class="fa fa-times"></i></button>
                <h3 class="modal-title text-center"><strong class="text-white">RRR Details</strong></h3>
            </div>

            <div class="card-content">
                <div class="modal-body">

                    <table id="singlepaymenTempTab" data-toggle="table" class="data-table table-striped"
                           data-search="true"
                           data-show-export="true"
                           data-export-types="['csv','txt','excel','pdf']"
                           data-minimum-count-columns="2"
                           data-pagination="true"
                           data-page-list="[10, 25, 50, 100, ALL]"
                           data-search-align="right"
                           data-toolbar="#Batch-toolbar"
                           data-show-pagination-switch="false"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-show-columns="true"
                           data-detail-formatter="detailFormatter"
                           data-detail-view="false"
                           data-unique-id="Contributionid"
                           data-checkon-init="true"
                           data-buttons-class="success">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>


                </div>
            </div>
        </div>
    </div>

</div>



<script type="text/javascript" src="https://remitademo.net/payment/v1/remita-pay-inline.bundle.js"></script>
<script src="~/lib/bootstrap.table/1.12.0/bootstrap-table.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Content("~/Contribution/GetEmployeeDetails")',
            type: 'GET',
            dataType: 'json',
            success: function (obj) {
                if (obj.Tag == 1) {
                    var data = obj.Data;
                    $('#employeeNumber').val(data.Nhfno);
                    $('#employeeName').val(data.Name);
                    $('#employerNumber').val(data.EmployerNo);
                    $('#remark').val("Contribution for" + " " + data.Name);
                } else {
                    cn.msgError(obj.Message);

                    cn.closeDialog();
                    setTimeout(function () {
                        cn.closeDialog();
                    }, 3000); // 5000 milliseconds = 5 seconds
                }

            },
            error: function () {
                // Handle error, if any
            }
        });

    });

    var id = cn.request("id");
    $(document).ready(function () {
        // hide the form initially
        $('#form1').show();
        $('#multipleUploadForm').hide();


        // add click event listener to the button
        $('#backlog').click(function () {
            // unhide the form
            $('#form1').hide();
            $('#multipleUploadForm').show();
            // prevent the default behavior of the button
            event.preventDefault();
        });

        $("#paymentOption").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(PaymentOptionEnum).EnumToDictionaryString())) });

        $("#paymentOption1").cnComboBox({ data: cn.getJson(@Html.Raw(typeof(PaymentOptionEnum).EnumToDictionaryString())) });

        $("#month").cnComboBox({
            data: cn.getJson(@Html.Raw(typeof
                (ContributionMonthsEnum).EnumToDictionaryString()))
        });


        $("#document").fileinput({
            language: 'en',
            showPreview: false,
            allowedFileExtensions: ['xls', 'xlss']
        }).on("fileuploaded", function (event, data) {
            var obj = data.response;
            if (obj.Tag == 1) {
                filePath = obj.Data;
            }
            else {
                filePath = '';
            }
        });

    });

    function saveForm(index) {
        if ($("#form1").validate().form()) {
            var postData = $("#form1").getWebControls({ Id: id });
            cn.ajax({
                url: '@Url.Content("~/Contribution/SingleContribution")',
                type: "post",
                data: postData,
                success: function (obj) {
                    if (obj.Tag == 1) {
                        debugger
                        cn.msgSuccess(obj.Message);
                        //parent.layer.close(index);
                        $('#initialpayment').modal('show');
                        var $table = $('#singlepaymenTempTab');
                        var datas = obj.Data;
                        console.log(datas);
                        $table.bootstrapTable("destroy");
                        $table.bootstrapTable({

                            data: datas,

                            columns: [


                                {
                                    field: 'data.Rrr',
                                    title: 'RRR'
                                },

                                {
                                    field: 'TransactionId',
                                    title: 'Transaction ID'
                                }

                                ,
                                {
                                    field: 'Amount',
                                    title: 'Amount',
                                    //formatter: 'formatnumber'
                                },
                                {
                                    align: 'right',
                                    events: paymentEvents,
                                    formatter: paymentFormatter
                                }

                            ]
                        });

                    }
                    else {
                        //cn.msgError(obj.Message);
                    }
                }
            });
        }
    }

    window.paymentEvents = {


        'click .paym': function (e, value, row, index) {

            var orderId = row['transactionid'];
            var rrr = row['rrr'];

            debugger

            makePayment(orderId, rrr)

        }

    };

    function paymentFormatter(value, row, index) {


        return [
            '<button class="btn btn-danger paym">' + 'Pay' + '</button>'
        ].join('');


    }



    function makePayment(orderId, RRR) {
        debugger
        $('#initialpayment').modal('hide');
        let rrr = RRR;
        let transactionId = orderId;
        var paymentEngine = RmPaymentEngine.init({
            key: "U09MRHw0MDgxOTUzOHw2ZDU4NGRhMmJhNzVlOTRiYmYyZjBlMmM1YzUyNzYwZTM0YzRjNGI4ZTgyNzJjY2NjYTBkMDM0ZDUyYjZhZWI2ODJlZTZjMjU0MDNiODBlMzI4YWNmZGY2OWQ2YjhiYzM2N2RhMmI1YWEwYTlmMTFiYWI2OWQxNTc5N2YyZDk4NA==",
            processRrr: true,
            transactionId: transactionId,
            extendedData: {
                customFields: [
                    {
                        name: "rrr",
                        value: rrr

                    }
                ]
            },
            onSuccess: function (response) {
                console.log('callback Successful Response', response);

                //            onError: function (response) {
                //console.log('callback Error Response', response);

            },
            onClose: function () {
                console.log("closed");

            }
        });
        paymentEngine.showPaymentWidget();
    }



</script>

